<app-header></app-header>

<div class="container">
    <div class="border-top">
        <div class="footer-content row">
            <div class="col-md-4">
                <h4>Xin chào bạn!</h4>
                <div class="contact-info">
                    <div class="contact-item">
                        <fa-icon [icon]="faUser"></fa-icon>
                        <p>Tài khoản của tôi</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faHeart"></fa-icon>
                        <p>Xe yêu thích</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faCar"></fa-icon>
                        <p>Xe của tôi</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faMapLocationDot"></fa-icon>
                        <p>Chuyến của tôi</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faCartShopping"></fa-icon>
                        <p>Đơn hàng thuê xe dài hạn</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faGift"></fa-icon>
                        <p>Quà tặng</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faClipboard"></fa-icon>
                        <p>Địa chỉ của tôi</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faLock"></fa-icon>
                        <p>Đổi mật khẩu</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faTrash"></fa-icon>
                        <p>Yêu cầu xóa tài khoản</p>
                    </div>
                    <div class="contact-item">
                        <fa-icon [icon]="faRightFromBracket"></fa-icon>
                        <p>Đăng xuất</p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="title">
                    <div class="title-edit">
                        <h5>Thông tin tài khoản</h5>
                        <fa-icon [icon]="faPenToSquare"></fa-icon>
                    </div>
                    <div class="total-trips">
                        <p class="count">0</p><span>chuyến</span>
                    </div>
                    
                </div>
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="assets/images/Hinhyeu.jpg" alt="Logo" class="avatar" width="50" height="50">
                        <h4>Phứt Táo</h4>
                        <p class="note">Tham gia: 28/06/2024</p>
                        <div class="col">
                            0 điểm
                          </div>
                    </div>
                    <div class="user-info">
                        <p>Ngày sinh:</p>
                        <p>Giới tính:</p>
                        <p>Số điện thoại:</p>
                        <p>Email:</p>
                        <p>fcaebook:</p>
                        <P>Google:</P>
                    </div>
                    <div class="user-info">
                        <p>01/01/1990</p>
                        <p>Nam</p>
                        <p>0123456789</p>
                        <p>example.com</p>
                        <p>HOÀNG PHƯỚC</p>
                        <p>THÊM LIÊN KẾT</p>
                    </div>
                    
                </div>
                <div class="border-top">
                    <div class="title">
                        <div class="title-edit">
                            <h5>Giấy phép lái xe</h5>
                            <fa-icon [icon]="faPenToSquare"></fa-icon>
                        </div>
                        <div class ="note">
                        <p><b>Lưu ý: </b> để tránh phát sinh vấn đề trong quá trình thuê xe, <u>người đặt xe</u> trên Mioto (đã xác thực GPLX) <b>ĐỒNG THỜI </b>phải là <u>người nhận xe.</u></p>
                        </div>
                        <p class="note">Hình ảnh</p>
                    </div>
                    <div class="user-profile">
                        <div class="user-avatar">
                            
                            <fa-icon [icon]="faUpload"></fa-icon>
                            <p class="gplx-note">Vì sao tôi phải xác thực GPLX</p>
                            
                        </div>
                        <div class="user-info">
                            <h5>Thông tin chung</h5>
                            <p>Số GPLX</p>
                            <p>Nhập số GPLX đã cấp</p>
                            <p>Họ và tên</p>
                            <p>Nhập đầy đủ họ và tên</p>
                            <p>Ngày sinh</p>
                            <p>10-01-2000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
