
    <div class="border-top">
        <div class="container">
            <div class="footer-content">
                <div class="row row-3">
                    <img src="assets/images/logo-full.png" alt="Logo" class="logo1">
                    <div class="contact-info">
                        <p>1800 1001</p>
                        <p>Tổng đài hỗ trợ : 7AM - 10PM</p>
                        <p>MIOTO.COM.VN</p>
                        <p>Gửi mail cho MIOTO</p>
                    </div>
                    <div class = "footer-contact">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                        <fa-icon [icon]="faTiktok"></fa-icon>
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </div>
                    
                </div>
                <div class="row row-4">
                    <p class="main">Chính Sách</p>
                    <p>Chính sách và quy định</p>
                    <p>Quy chế hoạt động</p>
                    <p>Bảo mật thông tin</p>
                    <p>Giải quyết tranh chấp</p>
                </div>
                <div class="row row-4">
                    <p class="main">Tìm hiểu thêm</p>
                    <p>Huóng dẫn chung</p>
                    <p>Hướng dẫn thanh toán</p>
                    <p>Hỏi và trả lời</p>
                    <p>Về Mioto</p>
                </div>
                <div class="row row-4">
                    <p class="main">Đối tác</p>
                    <p>Đăng ký chủ xe Mioto</p>
                    <p>Đăng ký GPS MITRACK 4G</p>
                    <p>Đăng ký cho thuê dài hạn</p>
                    
                </div>
            </div>
            
        </div>

            
        
    </div>
    <div class="border-top">
        <div class="container">
            <div class="footer-content1">
                <div class="row row-3">
                    <p>Công ty cổ phần Mioto</p>
                </div>
                <div class="row row-4">
                    <p>Số GCNDKKD: 0346410653  </p>
                </div>
                <div class="row row-4">
                    <p>NGÀY CẤP; 24-05-22</p>
                </div>
                <div class="row row-4">
                    <p>Nơi cấp: Sở kế hoạch</p>
                </div>
            </div>
        </div>
    </div>
        
