<div class="header">
    <div class="container">
        <a href="">
            <img src="/assets/images/logo-full.png" alt="">
        </a>
        <div class="menu-container">
            <a href="">Về Mioto</a>
            <a href="">Trở thành chủ xe</a>
            <a href="">Chuyến của tôi</a>
            <div class="vertical-line">

            </div>
            <div class="notification">
                <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                    <fa-icon [icon]="faBell"></fa-icon>
                </button>
                <ul class="dropdown-menu dropdown-menu-end custom-dropdown-menu">
                    <li><button class="dropdown-item" type="button">Action</button></li>
                    <li><button class="dropdown-item" type="button">Another action</button></li>
                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>