<div class="content-account">
    <div class="content-title">
        <h4>Đổi mật khẩu</h4>
        <p>Vui lòng nhập mật khẩu hiện tại của bạn để thay đổi mật khẩu</p>
    </div>
    <div class="content-item change-pw">
        <div class="title">
            <h5>Nhập mật khẩu</h5>
        </div>
        <div class="content">
            <div class="custom-input">
                <div class="wrap-info">
                    <div class="title-status">
                        <p>Mật khẩu hiện tại</p>
                    </div>
                    <div class="desc"></div>
                </div>
                <div class="wrap-input">
                    <div class="wrap-text">
                        <input type="password" name="ip_pw" placeholder="" value="">
                    </div>
                </div>
                <div class="wrap-info">
                    <div class="title-status">
                        <p>Mật khẩu mới</p>
                    </div>
                </div>
                <div class="wrap-input">
                    <div class="wrap-text">
                        <input type="password" name="ip_reset_pw" placeholder="" value="">
                    </div>
                </div>
                <div class="wrap-info">
                    <div class="title-status">
                        <p>Xác nhận mật khẩu mới</p>
                    </div>
                    <div class="desc"></div>
                </div>
                <div class="wrap-input">
                    <div class="wrap-text">
                        <input type="password" name="ip_reset_pw_confirm" placeholder="" value="">
                    </div>
                </div>
                <div class="apply-button">
                    <a class="btn btn--m btn-primary" disabled="">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>