.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.border-top {
    border-top: 2px solid #ccc;
    padding-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.note {
    font-size: 12px;
    color: #f04438;
}

.col-md-4,
.col-md-8 {
    padding: 10px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.title {
    margin-bottom: 20px;
}

.title h5 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.title-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.total-trips {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.total-trips .wrap-svg {
    margin-right: 5px;
}

.avatar {
    width: 148px;
    height: 148px;
    line-height: 148px;
    border-radius: 100%;
}

.user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col-md-8 h4 {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #333;
}

.col-md-8 p {
    font-size: 14px;
    color: #777;
}

.user-info {
    text-align: right;
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}

.user-info p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
    text-align: left;
}

.info-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.note {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 600;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    gap: 8px;
}

.contact-item button {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    font-weight: 600;
    border: none;
    background-color: transparent!important;
}

.contact-item p {
    font-size: 1rem;
    gap: 10px;
}

.gplx-note {
    font-size: .75rem;
    font-weight: 500;
    color: #666;
    margin-top: 10px;
}

.content-account {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
    width: calc(70% - 20px);
}

.content-account .content-item {
    background: #fff;
    border-radius: 12px;
    padding: 24px 32px;
}

.content-account .user-profile {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
}

.content-account .user-profile .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 8px;
    gap: 8px;
    width: 100%;
}

.content-account .user-profile .title-edit {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}

.content-account .user-profile .title .total-trips {
    display: flex;
    align-items: baseline;
    padding: 8px 16px;
    grid-gap: 4px;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

.content-account .user-profile .content {
    display: flex;
    grid-gap: 36px;
    gap: 36px;
}

.content-account .user-profile .content .avatar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
    width: 30%;
}

.content-account .user-profile .content .info-user {
    display: flex;
    flex-direction: column;
    width: 70%;
    grid-gap: 24px;
    gap: 24px;
}

.avatar,
.avatar-img,
.avatar img,
.borderRadius-circle {
    border-radius: 100%;
}

.avatar {
    position: relative;
    border: 1px solid #e0e0e0;
}

.avatar--xl {
    width: 148px;
    height: 148px;
    line-height: 148px;
}